<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="About.html" style="text-decoration:underline;">About</a>
                <a href="products.html">Products</a>
                <a href="services.html">Services</a>
                <a href="contactUs.html">Contact Us</a>
            </nav>
        </div>
    </div>


    <table border="1">

            <tr class="ersteInTabelle">
                <th>Name</th>
                <th>Philip Steinlein</th>
                <th>Maro Rodrigues</th>
            </tr>
            <tr>
                <th class="ersteInTabelle">Bild</th>
                <td><img src="/static/img/Bild.png" width="200" height="200"> </td>
                <td><img src="/static/img/Maro.jfif" width="200" height="200"></td>
            </tr>
            <tr>
                <th class="ersteInTabelle">Verwendungszweck</th>
                <td>Developer</td>
                <td>Kopf-Bauer</td>
            </tr>

    </table>

    <div class="fixed-footer">
        <div class="container">
            <a> Eva Schmitt Rodrigues </a>
            <a class="verlinked" href="https://www.amazon.de/s?k=rodrigues&i=popular&hvadid=80470539712507&hvbmt=be&hvdev=c&hvqmt=e&tag=hyddemsn-21&ref=pd_sl_3tv0mdwuwq_e">Geschäftswebsite</a>
        </div>
    </div>

</body>
</html>