<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="fixed-header">
        <div class="container">
             <nav>
                 <a href="/">Home</a>
                 <a href="About.html">About</a>
                 <a href="products.html">Products</a>
                 <a href="services.html">Services</a>
                 <a href="contactUs.html" style="text-decoration:underline;">Contact Us</a>
            </nav>
        </div>
    </div>

    <div class="fixed-footer">
        <div class="container">
            <a> Eva Schmitt Rodrigues </a>
            <a class="verlinked" href="https://www.amazon.de/s?k=rodrigues&i=popular&hvadid=80470539712507&hvbmt=be&hvdev=c&hvqmt=e&tag=hyddemsn-21&ref=pd_sl_3tv0mdwuwq_e">Geschäftswebsite</a>
        </div>
    </div>
</body>
</html>